.nav {
    width: 50%;
}

.nav ul {
    display: flex;
    justify-content: space-between;
}

.nav li {
    list-style: none;
    cursor: pointer;
    font-size: 1.3rem;
    margin-top: 0;

    padding: 10px;

    border-radius: 7px;
    transition: all .5s ease;
}

.nav li:hover {
    background-color: var(--secondary);
    color: white;
    box-shadow: -1px 8px 6px -6px var(--nursery);
}

@media only screen and (max-width: 660px) {
    .nav {
        display: none;
    }
}