.menu {
    display: none;
}
.header__container {
    width: 100%;
    background-color: white;
    padding: 20px 0;
    box-shadow: 0px 1px 10px var(--tertiary);
    
    z-index: 2000;
    margin-bottom: 1.2rem;
}

.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header h2 {
    padding-top: 10px;
}
.bars {
    display: none;
}

@media only screen and (max-width:660px) {
    .desktop_nav {
        display:none;
    }
    .bars {
        display: block;
        padding-top: 10px;
        font-size: 30px;
    }
}


