

.posts {
    margin-bottom: 1rem;
    width: 100%;
    
}
.posts_container, .posts_contain {
    margin-bottom: 1rem;
    width: 55%;
    position: relative;
    left: 20%;
}
.articles {
    width: 80%;
    font-family: 'Gentium Plus', serif;
}

@media only screen and (max-width: 1000px){
    .posts_contain {
        width: 60%;
        left: 5%;
    }
}

@media only screen and (max-width: 800px) {
    .posts_contain {
        position: initial;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}
.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem .9rem;
    cursor: pointer;
    
}
.article,.articles {
    width: 90%;
    font-size: 1rem;
    margin: 0 auto;
    font-family: 'Gentium Plus', serif;
}
.articles {
    font-size: .8rem;
}
.article .h2 {
    font-size: 2.7rem;
}
.article .h2:hover {
    text-decoration: underline;
}
.article p {
    font-size: 1.1rem;
}

.article_img {
    width: 90%;
    margin: 0 auto;
    
}
.star {
    position: absolute;
    font-size: 1.5rem;
    z-index: 200;
    color: var(--main);
}
.article_img img  {
    width: 100%;
    height: 270px;
    position: relative;
}
.article h4 {
    text-transform: uppercase;
    
    color: #003109;
    
    text-align: center;
    padding: .5rem .7rem;
    border-radius: 5px;
    margin-top: 10px;
    
    font-size: 1.1rem;
    cursor: pointer;
    transition: all ease 100ms;
}

.article h4:hover {
    background-color: var(--tertiary);
    color: var(--main);
}

.date {
    display: flex;
    justify-content: space-between;
}
.long_link {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0rem;
    font-size: 1.5rem;
}

.long_link a span{
    font-size: 1.2rem;
}
@media only screen and (max-width: 660px) {
    .article_img img {
        height: 200px;
    }
    
    .long_link a {
       
        font-size: 1rem;
    }
    .long_link a span {
        font-size: 1.2rem;
      
        margin-bottom:0px;
        margin: 0 6px;
    }
    .article .h2 {
        font-size: 2.1rem;
    }
    .article p {
        font-size: 1rem;
    }
    .post {
        padding: 1rem .8rem;
    }
    .article h4 {
        font-size: 1rem;
        padding: .5rem .3rem;
    }
}

@media only screen and (max-width: 500px) {
    .long_link,   .long_link span {
        font-size: .9rem;
    }
    .long_link  a span {
        margin: 0 4px;
    }
    .articles {
        width: 100%;
    }
    
}